html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

input[type="number"]{
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,  
input::-webkit-inner-spin-button{  
  -webkit-appearance: none !important;  
  margin: 0;  
}